#container {
  width: 800px;
  font-size: 14pt;
}

/** Used by goog.ui **/

.goog-checkbox + span {
  /* align with .goog-checkbox:before/height to avoid to shift when checking or unchecking */
  vertical-align: middle;

  color: #555;
}
.goog-checkbox-checked + span {
  color: #000;
}

.goog-checkbox:before {
  display: inline-block;

  border: solid 1px #000;
  border-radius: 2px;
  width: 1.1em;
  height: 1.1em;

  margin-right: 0.5em;
  vertical-align: middle;
  text-align: center;
  content: '　';
}
.goog-checkbox-checked:before {
  content: '✔';
}

/** GithubProfileLinkedText **/
#title a:link, #title a:visited, #title a:active, #title a:hover {
  color: #000000;
  text-decoration: none;
}

/** Contribution Status **/

/* TODO: abstract as scss mix-in */
.loading, .success, .danger, .warning {
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;

  text-align: center;
  padding: 1em;
  margin: 1em;
}

.loading {
  background-color: #CACACA;
  border-color: #000000;
}

.success {
  background-color: #B1FFB2;
  border-color: #4BFF3F;
}

.danger {
  background-color: #FFC2C3;
  border-color: #FF6258;
}

.warning {
  background-color: #FFFCA7;
  border-color: #FDE14F;
}
