#container {
  width: 800px;
  font-size: 14pt;
}

/** GithubProfileLinkedText **/
#title a:link, #title a:visited, #title a:active, #title a:hover {
  color: #000000;
  text-decoration: none;
}

/** Contribution Status **/

/* TODO: abstract as scss mix-in */
.loading, .success, .danger, .warning {
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;

  text-align: center;
  padding: 1em;
  margin: 1em;
}

.loading {
  background-color: #CACACA;
  border-color: #000000;
}

.success {
  background-color: #B1FFB2;
  border-color: #4BFF3F;
}

.danger {
  background-color: #FFC2C3;
  border-color: #FF6258;
}

.warning {
  background-color: #FFFCA7;
  border-color: #FDE14F;
}
